body {
    background-color: #FD8A8A !important;
}

.container {
    background-color: #F5EDCE !important;
    width: 550px !important;
}

.inputs {
    width: 300px;
    outline: none;
    border: 3px solid #0D6EFD;
}

.options {
    width: 200px;
    outline: none;
    border: 3px solid #0D6EFD;
}

.add {
    border: 3px solid #0D6EFD !important;
    /* background-color: #0D6EFD; */
}
.quiz {
    border: 3px solid #0DCAF0 !important;
    /* background-color: #0D6EFD; */
}
.quiz:hover{
    /* border: none !important; */
    /* transition: 0.4s; */
    color: white !important;
}